$white: #fff;
$white2: rgba(255, 255, 255, 0.9);
$white3: rgba(255, 255, 255, 0.8);
$darkGrayOpasity: rgba(86, 83, 76, 0.53);
$darkBrownOpasity: rgba(111, 102, 82, 0.84);;
$lightBrownOpasity: rgba(164, 125, 94, 0.9);
$darkGray: #56534c;  //text
$gray: #9e9c93;
$lightGray: #c2beba;
$extraLightGray: #e4e2d7;
$extraLightGray2: #efebe4;
$brown: #a47d5e;
$lightBrown: #c9b176;
$extraLightBrown: #dfc691;
$darkBrown: #291d00;
$plum: #834f4e;
$lightPlum: #d8bba3;
$lightPlum2: #c8a693;
$textShadow: #3d3029;
$bg-gray: #f3f1e9;
$bg-slide-1: #d8d5c5;
$bg-slide-2: #c0bdb1;